@import './src/assets/styles/core/variables';
@import './src/assets/styles/core/mixins';

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 80px;

  @include min(1024) {
    flex-direction: row;
  }

  &:nth-child(even) {
    @include min(1024) {
      flex-direction: row-reverse;
    }
  }
}

.img {
  width: fit-content;
  margin-bottom: 25px;
  box-shadow: $box-shadow;

  @include min(1024) {
    width: calc(50% - 15px);
    margin-bottom: 0;
  }

  img {
    display: block;
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;

    @include min(1024) {
      max-width: 100%;
      margin: 0;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include min(1024) {
    width: calc(50% - 15px);
  }
}

.title {
  font-family: $oswald;
  font-size: 30px;
  display: block;
  margin-top: -5px;
  margin-bottom: 15px;
  transition: color .5s;
  text-decoration: none;
  color: $dark;

  &:hover {
    color: $highlight;
  }
}

.date {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding-right: 10px;

  svg {
    flex: none;
    fill: $dark;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  time {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding-top: 5px;
    color: $dark;
  }
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  svg {
    flex: none;
    fill: $dark;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  span {
    font-size: 16px;
    font-weight: 400;
    color: $dark;
  }
}

.preview {
  font-size: 18px;
  display: block;
  padding-bottom: 10px;
  text-decoration: none;
  color: $dark;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  padding: 0;
}

.tag {
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  margin-top: 5px;
  margin-right: 10px;
  padding: 5px 7px 3px 9px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: $dark;
  border: 1px solid $dark;
  border-radius: 4px;
}
