@import './src/assets/styles/core/variables';
@import './src/assets/styles/core/mixins';

.header {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;

  @include print {
    display: none;
  }
}

.title {
  font-family: $kaushan;
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0;
  user-select: none;
  text-align: center;
  color: $dark;
  @include min(768) {
    font-size: 90px;
  }

  &::before {
    position: absolute;
    z-index: -1;
    bottom: 10px;
    left: -5px;
    width: calc(100% + 20px);
    height: 5px;
    content: '';
    background-color: $highlight;

    @include min(768) {
      bottom: 15px;
      height: 10px;
    }
  }
}
