@import './src/assets/styles/core/variables';
@import './src/assets/styles/core/mixins';

.header {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;

  @include print {
    display: none;
  }
}